   <div  class="webSiteBackground" ng-app="app" ng-controller="indexCtl">
      <div ng-include="'/view/src/htm/menubar.htm'"></div>
      <img src="/view/res/about.jpg"  id="about">
      <h3 id="mainPurpose"> We are  a small group, which aim is to practice programming skills</h3>
   
    <div class="divAbout"> 
         <p class="name">Hamlet  Grigoryan</p>
         <p class="text"> I like new challenges and believe that technology will change the world. I'm patient and friendly person. I love our team because every member of the team are individual person, each of us is ready for difficulties and open to learn new. We know what we are doing and ready to new challenges!!!</p>  
   </div>
    <div class="divAbout">
        <p class="name">Meruzh Janoyan</p>
        <p class="text">Programming never bores, because we are continually  finding new solutions.Love it. The most real thing is  nature. I love reality, that is everything connected with nature.I don't know what kind of person I am, because I haven't met people like me yet.
        </p>
    </div>
    <div class="divAbout">
        <p class="name">Armenuhi Qocharyan</p>
        <p class="text"></p>
    </div>
    <div class="divAbout">
        <p class="name">Nane Hambardzumyan</p>
        <p class="text"> I like creating and developing things and development is the best way to use my potentional.I am a dreamer. I am a person who thinks who is she outside of work.  I am proud of my teammates' personalities who surround me.
</p>
    </div>
    <div class="divAbout">
        <p class="name">Gevorg Vardanyan</p>
        <p class="text"></p>
    </div>
 <div class="divAbout">
        <p class="name">Ani Saghatelyan</p>
        <p class="text"> I am interested in new changes of human life in nowadays. As the information technology is the inseparable part of people's life, I decided to explore it. Behind the company I am very energetic and active.I want to collect more knowledge as I can in my whole life. I want to fill my each day with interesting and unforgettable moments.I am proud of the unity in our company and the wish to help each other to progress in our profession!!!</p>
    </div>
    </div>
   
