<div style="margin-left: 0%;"  layout="column" ng-cloak=""   class="profileDivSize1  styledBg">
   <md-content layout-padding="" style="background: transparent;" >
      <form name="userForm1" method="post" action="">
         <p class="headStyle">Account Settings</p>
         <md-input-container    style=" margin:0%";   ng-repeat="field in profileInputArray" layout-gt-sm="row" class="md-block lightInput profileInputSize " flex-gt-sm="">
            <label style="text-align: left">{{field.text}}</label>                         
            <input type="password" name="{{field.name}}"  class="profileInputSize" >
         </md-input-container>
         <button class="blueButton profileButtonSize" >Change password</button>
      </form>
   </md-content>
</div>