<div  ng-controller="signInController" class="profileDivSize1 styledBg" id="getMailForPassword">

              <p class="headStyle">Account settings</p>

              <div class="profileInputs" ng-repeat=" prof in profileInputArray">
                <input type="password" name="{{prof.name}}"  class="lightInput profileInputSize">
             </div>

              <div class="profileLabels" ng-repeat="prof in profileInputArray">
                <p class="profileLabelsTop1">{{prof.text}}</p>
              </div>
              
              <button class="blueButton profileButtonSize" >Change password</button>
            </div> 
