<div align="center" layout="column" ng-cloak="" id="singUpBg" class="inputdemoErrorsAdvanced styledBg">
   <a href="/"><img src="/view/res/icon.png"  class="signInLogoSize"></a>

   <md-content layout-padding="" style="background: transparent;margin-top: 0% ">
      <form name="userChangePass" method="post" action="">
            <md-input-container class="myHint" style="padding:0% ">
               <p  class="textUnderRegInput" style="margin-bottom: 10%" id="forgotTextAbove">Enter new password.</p>
            </md-input-container>
            <div ng-repeat="fields in changePassArray" layout-gt-sm="row">
               <md-input-container class="md-block lightInput" flex-gt-sm="">
                  <label style="text-align: left">{{fields.place}}</label>
                  <input   md-maxlength="{{fields.max}}" type="{{fields.type}}" required minlength="{{fields.min}}" name="{{fields.name}}"  ng-model="user[fields.name]" id="{{'i'+fields.name}}">
                  <div style="margin-left:2%" class="hint">{{fields.text}}</div>
                  <div  ng-messages="userForm.email.$error"   role="alert">
                     <div style="float:left; margin-bottom:3%" ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        {{fields.rederror}}
                     </div>
                  </div>
               </md-input-container>
            </div>
            <button class="blueButton signInButtonSize" onClick="changePassword()">Change Password</button> </button> 
      </form>
   </md-content>
</div>