
 <div ng-controller="signInController" layout="column" ng-cloak="" id="singUpBg" class="inputdemoErrorsAdvanced styledBg  ">
   <a href="../../index.html"><img src="../res/icon.png"  class="signInLogoSize"></a>

  <md-content layout-padding="" style="background: transparent;margin-top: 0% ">
       <form name="userForm" method="post" action="/">
      
      <div    ng-repeat="fields in signInArray" layout-gt-sm="row">
           <md-input-container   class="md-block lightInput" flex-gt-sm="">
                  <label style="text-align: left">{{fields.place}}</label>
                  <input   md-maxlength="{{fields.max}}" type="{{fields.type}}" required minlength="{{fields.min}}" name="{{fields.name}}"  ng-model="user.name">
                   <div style="margin-left:2%" class="hint">{{fields.text}}</div>
               <div  ng-messages="userForm.email.$error"   role="alert">   

                     <div style="float:left; margin-bottom:3%" ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                      {{fields.rederror}}
                     </div>

               </div>

                
            
         </md-input-container>

<!--  <md-input-container class="md-block">
        <label>Client Email</label>
        <input required="" type="email" name="clientEmail" ng-model="project.clientEmail" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">

        <div ng-messages="projectForm.clientEmail.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your email must be between 10 and 100 characters long and look like an e-mail address.
          </div>
        </div>
      </md-input-container> -->



      </div>
       <label id="rememberStyle"><input  type="checkbox" name="remember"  >Remember me</label>
       <label>  <a href="#/forgotPassword" id="forgot" style="margin:0%">Forgot password? </a></label>

    <button tyle="margin-top:0%;" type="submit" class ="signInButtonSize blueButton ">Sign In</button> 
   </form>
</md-content>
 


<div align="center"><label> <a href="#/signUp" style="color: #5FA5FF;">Create an account </a></label></div>

</div>
<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
            </div>

