<div  ng-controller="signInController"   class="styledBg loginBgSize" >
               <a href="index.html"><img src="../res/icon.png"  class="signInLogoSize"></a>

         	<form action="user/login/" method="post" >
                  <input type="text" name="email"  ng-model="email" placeholder="Username or Email" class="lightInput" required >
                  <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
		  <span ng-show="myForm.email.$error.required">Email is required.</span>
		  <span ng-show="myForm.email.$error.email">Invalid email address.</span>
		  </span>
			<label>  <a href="#/forgotPassword" id="forgot">Forgot password? </a></label>
                <input  id="iPassword"type="password" ng-model="password"  ng-minlength="6" name="password" placeholder="Password" class="lightInput" required>
                <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid &&">
		<span ng-show="myForm.password.$error.required">Password is required.</span>
		<span ng-show="myForm.password.$error.minlength">Password is shorter.</span>
		</span>  
		<label id="rememberStyle"><input  type="checkbox" name="remember"  >Remember me</label>
                  <button  type="submit"  class="blueButton signInButtonSize">Sign In</button>	
            	</form>
		<div align="center"><label> <a href="#/signUp">Create an account </a></label></div>
</div>

