

body {
margin: 0;
padding: 0;
height: 100%;
background: linear-gradient(45deg, #cccccc, #ccccc1);
}
H3 {
margin-top: 3%;
color: #737373;
}
p {
color: #737373;
margin-left: 10%;
}
/* Styled gray button*/
.grayButton {
color: #4d4d4d;
background: #e6e6e6;
border-style: solid;
border-width: 1px;
border-color: #666666;
background: linear-gradient(to top, #e6e6e6, #bfbfbf);
border-radius: 0.3em;
padding: 0.5% 1%;
font-size: 17px;
font-weight: bold;
text-decoration: none;
text-align: center;
}
.grayButton:hover {
background: linear-gradient(to top, #cccccc, #bfbfbf);
}
.grayButton:active {
background: linear-gradient(to top, #b3b3b3, #bfbfbf);
}
/*Blue styled button*/
.blueButton {
color: white;
background: #0094F7;
border-style: solid;
border-width: 1px;
border-color: #005c99;
background: linear-gradient(to top, #0094F7, #007acc);
border-radius: 0.3em;
padding: 0.5% 1%;
font-size: 17px;
font-weight: bold;
text-decoration: none;
text-align: center;
}
.blueButton:hover {
background: linear-gradient(to top, #0076C4, #007acc);
}
.blueButton:active {
background: linear-gradient(to top, #0064A6, #007acc);
}
/*sign in button size*/
.signInButtonSize {
margin-top: 5%;
margin-bottom: 5%;
padding: 2% 1%;
width: 80%;
}
/*Menu bar buttons sizes*/
.menuBarButtonSize {
float: right;
width: 80px;
margin: 1% 2% 1% 0%;
}
/* Menu Bar*/
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #E8E8E8;
border-style: solid;
border-width: 1px;
border-color: #B2B0B0;
}
li {
float: left;
}
li a {
display: inline-block;
color: #737373;
text-align: center;
padding: 21px 18px;
text-decoration: none;
font-size: 15px;
font-weight: bold;
}
li a:hover {
color: #4d94ff;
}
/*styled input*/
.lightInput {
border-style: solid;
border-width: 1px;
border-color: #B2B0B0;
padding: 10px  10px;
font-size: 80%;
border-radius: 5px;
margin-top: 5%;
width: 75%;
}
.lightInput:focus {
box-shadow: 0 0 10px 3px rgba(77, 77, 255, .55);
}
/*styled  background*/
.styledBg {
background: linear-gradient(to top, #e8e8e8, #bfbfbf);
box-shadow: 0 0 10px 3px rgba(128, 128, 128, .55);
border-radius: 10px;
}
a {
   text-decoration: none;
   color: #5FA5FF;

}
/* size of login Bg*/
.loginBgSize {
width: 30%;
min-width: 300px;
min-height: 340px;
padding: 0% 1% 4% 1%;
margin: 100px auto 2% auto;
}
/*hiden Div forgot pass*/
#forgotPassDiv {
display: none;
}
#signUpDiv {
display: none;
}
#signInDiv {
display: none;
}
/*home page big logo background*/
#bigLogoBg {
width: 100%;
height: 33em;
background: url(../res/money.jpg)
}
/*home page big logo */
#bigLogoImg {
opacity: 0.75;
float: right;
width: 200px;
margin-top: 120px;
margin-left: 5%;
}
/*sign in page logo*/
.signInLogoSize {
/*	margin-left:35%;*/
width: 30%;
margin-top: 5%;
}
/*menu bar small logo*/
#smallogo {
float: left;
width: 50px;
margin-left: 1%;
margin-top: 0.4%;
}
/*forgot password style*/
#forgot {
float: right;
margin-right: 10%;
color: #5FA5FF;
text-decoration: none;
margin-top: 2%;
font-size: 0.85em;
}
#forgotTextAbove {
margin: 5% 10% 0% 10%;
}
/*Remember me style*/
#rememberStyle {
float: left;
margin-left: 9.5%;
font-weight: bold;
margin-top: 3%;
color: gray;
font-size: 90%;
}
/* create an account */
.signUpLink {
color: #5FA5FF;
text-decoration: none;
margin-top: 5%;
}
/*Canvas div*/
#iGraph{
display: none;
}
/*______________________ANI_______________________*/
/* statistic  page*/
/* it is for statistic pages styling dates*/
/*button for saving added datas for new row*/
#saveButtonAdd{
	width:23%;
	padding:1%;
	float:right;
	margin:0% 6%;
	min-width:45px;
}
/* window, which will show edit or add row*/
#editWindow{
	position: absolute;
	margin:-40% 20% 0%;
	width:60%;
	padding:3%;

	
}
#editWindow input{
	width:55%;
	padding:2%;
	font-size:90%;
	margin-right:4%;
}

/*all divs in edit window*/
#editWindow  div, #editWindow img{
	margin: 2% 0% 0%;
	background:none;
	width: 50%;
	float:right;
	padding:0%;
}
#editWindow button{
	width:29%;
	margin:8% 0% 2% ;
	padding:1%;
	float:left;
	min-width:60px;

}
#editWindow label{
	min-width:50px;
}
#editWindow img{
	margin:4%;
	width:42%;
	margin-right:4%;
}

.dist{
 	width:50%;
 	margin-top: 3%;
}
#filter button{
	float:right;
	width:20%;
	padding:1.4%;
	font-size: 100%;
	
}
/*image for show more rows*/
#moreImage{
	margin: 1% 20%;
	width: 10%;
	min-width:60px;

}
#filter input{
	color:gray;
	font-size:100%;
}
	

input[type=date] {
 	 height: 35px;
  	 margin: 0 auto;
  	 width: 30%;
	 padding:1%;
  	 font-family: arial, sans-serif;
  	 font-size: 13px;
  	 font-weight: bold;
  	 text-transform: uppercase;
  	 background-color: blue;
  	 border: 0;
  	 border-radius: 3px;
  	 color: #fff;
  
}
/* registration page*/

.textUnderRegInput {
    text-align: left;
    font-size: 85%;
    margin: 1% 10.5%;
 
}
.regInputSize {
    padding: 2%;
    margin: 1% 5%;
    width: 75%;
    font-size: 90%
}
/* end of registration page*/

/*Usage page*/

/*usage big div background*/
 #Progress{
 	float:left;
	margin:0%;
	width: 33.3%;
	height:00.1px;
	background: #bfbfbf;
	 
	border-radius: 0px;


 }
/* progress div container*/
#progressBoot {
	border-radius: 0px;
	 width:48%;
	height: relative;
}
/*progress exactly*/
#progBlue{
		margin: 0%;
		border-radius: 0px;
			}
#sizeOfUsageBg{
		padding:2%;
		width: 50%;
    	min-width: 300px;
    	min-height: 400px;
    	margin: 7% auto 2% auto;
}

/*each circle for steps*/
#Progress > button {
		float:right;
		color: white;
    		border: #005c99;
    		background: linear-gradient(to top, #0094F7, #007acc);
    		font-size: 100%;
		position:absolute;
    		font-weight: bold;
		text-align:center;
      		width: 5%;
		padding:1%;
		margin:-1.5% 11%;
		min-width: 50px;
      		-webkit-border-radius: 70%;
      		-moz-border-radius: 70%;
      		border-radius: 70%;
    }
#Progress > button:hover {
	cursor: pointer;  
    background: linear-gradient(to top, #0076C4, #007acc);
}

#Progress > button:active {
    background: linear-gradient(to top, #0064A6, #007acc);
}


/* Size of Div for Usage rules*/
#usageRules{
	width:90%;
	margin:0% 3%;
}
.usageText{
	margin:  10% 0% 3% 0%;
	width:35%;
	float:right;
	font-size:90%;
	padding:1%;
	text-align:left;
}


/*size of images for usage */
.usageImageSize{
	float:left;
	margin:5% 0% 4%  2%;
	width: 55%;
}
/*end of usage page*/

#TableBG{
	margin-top: 7%;
	margin-left: 30%;
	/*width: 50%;*/
}




/*____________________________GEVOR__________________________*/


.profileImg{
	float: left;
	width: 10%;
	min-width: 220px;
	margin-top: 10%;
	margin-left: 10%;
}

.profileDivSize1 {
	width: 50%;
	margin: 2.5% 15% 2.5% 0%;
	float: right;
	padding: 0% 1% 3% 1%;

}

.profileDivSize {
	width: 100%;
	min-width: 1000px;
}

.profileInputSize {
	width: 70%;
	float: right;
	margin: 1% 3% 0.5% 1%;
}

.profileInputs{
	width: 60%;
	float: right;
	margin-right:9%;
}

.profileButtonSize{
	padding: 1% 3%;
	margin: 5% 0 0 30%;
	width: 200px;
}
.headStyle{
	font-size: 25px;
	color: #0094F7;
}
.profileLabels{
	margin-top: 5.6%;
}
.profileLabelsTop1{
	margin: 3.8%;
}
/*added by Ani for angularJs for validation sign-in input fields*/
form >div{
		color:red;
		font-size: 12px;
		float:left;	
		margin-left:10%;
		margin-bottom: 0%;	
	}
	input.ng-invalid.ng-touched, 	input.ng-error.ng-touched, 	input.ng-required.ng-touched{
	    border-color: red;
	} 