 <div  ng-controller="signInController"  class="styledBg loginBgSize" align="center">
            <a href="index.html" ><img src="../res/icon.png"   class="signInLogoSize"></a>
<md-content layout-padding="" style="background: transparent;margin-top: 0% ">
    <form name="userForm" method="post" action="">
      <div   layout="row"   layout-xs="column" layout-sm="column" layout-align="space-between left">
          
         <p class="textUnderRegInput" id="forgotTextAbove">Enter your email address and we will send you a link to reset your password.</p>

      </div>
             <div  style=" margin-left:9%"; layout-gt-sm="row">
           <md-input-container   class="md-block lightInput" flex-gt-sm="">
                  <label style="text-align: left">{{signInArray[0].place}}</label>
                  <input   md-maxlength="{{field.max}}" type="{{fields.type}}" required minlength="{{field.min}}" name="{{fields.name}}"  ng-model="user.name">
               <div class="hint" ng-if="showHints" style ="color:gray; float:left;">{{signInArray[0].text}}</div>

               <div style=" margin-top:0%" ng-messages="{{fields.message}}" ng-if="!showHints">   
                     <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                      {{signInArray[0].error}}
                     </div>
               </div>

                </md-input-container>
                 
      </div>
      <button   class="blueButton signInButtonSize" >Send password reset email</button>
      <div align="center"><label class="signUpLink"><a  href="#/signUp" style="color: #5FA5FF;"> Create an account</a></label></div>

            
         </md-input-container>
      </div>
		     
                  		  
                  		 	
               		
		
  

