

<div ng-show="showHell" ng-click="hideDiv()" class="hellStyle"></div>
<div ng-show="showEditWindow" id="editWindow" class="styledBg">
<p class="headStyle">Edit item</p>
<img src="../res/3step.png" height="200" alt="pic" >
<div id ="editRowInputs">
   <div ><label>Market</label>
          <input ng-model='marketM' type="text" id="Market"  class="lightInput" placeholder="Market" name="market"></div>
   <div> <label>Date</label>
          <input ng-model='dateM' type="text" id="Date"   class="lightInput" placeholder="Date" name="date" min="2000-01-02"></div>
   <div><label>Time</label>
          <input ng-model='timeM' type="text"id="Time"   class="lightInput" placeholder="Time" name="time"></div>
   <div> <label>Price</label>
          <input ng-model='moneyM' type="text"id="Price"  class="lightInput"  placeholder="Price" name="price"></div>
   <div> <label>Item</label>
          <input ng-model='noteM' type="text"id="Item"    class="lightInput" placeholder="Item" name="item"></div>
   
   <div><button id="saveChanges"   class="grayButton">save</button>
      <button id="cancelChanges" ng-click="hideDiv()" class="grayButton">cancel</button>
   </div>
</div>

