<!DOCTYPE html>
<html >
   <head>
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/view/css/style.css">
      <link rel="stylesheet" href="/libs/md/css/angular-material.css">
      <link rel="stylesheet" href="/libs/md/css/docs.css">
      <link rel="stylesheet" href="/libs/md/css/noname.css">
      <link rel="shortcut icon" href="/view/res/icon.png" type="image/png">
      <script src="/libs/angular.min.js"></script>
      <script src = "/libs/angular-route.min.js"></script>
      <script src="/libs/Chart.js"></script>
      <script src="/libs//md/js/angular.js"></script>
      <script src="/libs/md/js/angular-animate.min.js"></script>
      <script src="/libs/md/js/angular-route.min.js"></script>
      <script src="/libs/md/js/angular-aria.min.js"></script>
      <script src="/libs/md/js/angular-messages.min.js"></script>
      <script src="/libs/md/js/svg-assets-cache.js"></script>
      <script src="/libs/md/js/angular-material.js"></script>
      <script src="/libs/jquery.min.js"></script>
      <script src="/app/app.js"></script>
      <script src="/controller/controller.js"></script>
      <title>About Us</title>
   </head>
   <body  class="webSiteBackground" ng-app="app" ng-controller="indexCtl">
      <div ng-include="'/view/src/htm/menubar.htm'"></div>
      <p style="color: red; font-size: 25px; margin: 10% 10%;"> ABOUT US </p>
      <p style="color: blue; font-size: 20px; margin: 10% 10%;"> it is page about Nane, Armenuhi, Ani, Hamlet, Gevorg and Meruzh :) </p>
   </body>
</html>
