<!DOCTYPE html>
<html >
   <head>
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/view/css/style.css">
      <link rel="stylesheet" href="/libs/md/css/angular-material.css">
      <link rel="stylesheet" href="/libs/md/css/docs.css">
      <link rel="stylesheet" href="/libs/md/css/noname.css">
      <link rel="shortcut icon" href="/view/res/icon.png" type="image/png">
      <script src="/libs/angular.min.js"></script>
      <script src = "/libs/angular-route.min.js"></script>
      <script src="/libs/Chart.js"></script>
      <script src="/libs//md/js/angular.js"></script>
      <script src="/libs/md/js/angular-animate.min.js"></script>
      <script src="/libs/md/js/angular-route.min.js"></script>
      <script src="/libs/md/js/angular-aria.min.js"></script>
      <script src="/libs/md/js/angular-messages.min.js"></script>
      <script src="/libs/md/js/svg-assets-cache.js"></script>
      <script src="/libs/md/js/angular-material.js"></script>
      <script src="/libs/jquery.min.js"></script>
      <script src="/app/app.js"></script>
      <script src="/controller/controller.js"></script>
      <title>Forgot Password?</title>
   </head>
   <body  class="webSiteBackground" ng-app="app" ng-controller="signInController">
      <div align="center" layout="column" ng-cloak="" id="singUpBg" class="inputdemoErrorsAdvanced styledBg  ">
         <a href="/"><img src="/view/res/icon.png"  class="signInLogoSize"></a>
         <md-content layout-padding="" style="background: transparent;margin-top: 0% ">
            <form name="userForm" method="post" action="">
               <md-input-container class="myHint" style="padding:0% ">
                  <p  class="textUnderRegInput" style="margin-bottom: 10%" id="forgotTextAbove">Enter your email address and we will send you a link to reset your password.</p>
               </md-input-container>
               <div  style="  margin-left: 8% ;margin:0%" layout-gt-sm="row">
                  <md-input-container   class="md-block lightInput" flex-gt-sm="">
                     <label style="text-align: left">{{signInArray[0].place}}</label>
                     <input   md-maxlength="{{signInArray[0].max}}" type="{{signInArray[0].type}}" required minlength="{{signInArray[0].min}}" name="{{signInArray[0].name}}"  ng-model="user.name">
                     <div class="hint" ng-if="showHints">{{signInArray[0].text}}</div>
                     <div style=" margin-top:0%" ng-messages="userForm.email.$error" ng-hide="showHints">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                           {{signInArray[0].rederror}}
                        </div>
                     </div>
                  </md-input-container>
               </div>
               <button   class="blueButton signInButtonSize" >Send password reset email</button> </button> 
            </form>
         </md-content>
         <div align="center"><label> <a href="/signup" style="color: #5FA5FF;">Create an account </a></label></div>
      </div>
   </body>
</html>