<!DOCTYPE html>
<html >
   <head>
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/view/css/style.css">
      <link rel="stylesheet" href="/libs/md/css/angular-material.css">
      <link rel="stylesheet" href="/libs/md/css/docs.css">
      <link rel="stylesheet" href="/libs/md/css/noname.css">
      <link rel="shortcut icon" href="/view/res/icon.png" type="image/png">
      <script src="/libs/angular.min.js"></script>
      <script src = "/libs/angular-route.min.js"></script>
      <script src="/libs/Chart.js"></script>
      <script src="/libs//md/js/angular.js"></script>
      <script src="/libs/md/js/angular-animate.min.js"></script>
      <script src="/libs/md/js/angular-route.min.js"></script>
      <script src="/libs/md/js/angular-aria.min.js"></script>
      <script src="/libs/md/js/angular-messages.min.js"></script>
      <script src="/libs/md/js/svg-assets-cache.js"></script>
      <script src="/libs/md/js/angular-material.js"></script>
      <script src="/libs/jquery.min.js"></script>
      <script src="/app/app.js"></script>
      <script src="/controller/controller.js"></script>
      <title>Create new Account</title>
   </head>
   <body  class="webSiteBackground" ng-app="app" ng-controller="signInController">
      <div align="center" layout="column" ng-cloak="" id="singUpBg" class="inputdemoErrorsAdvanced styledBg  ">
         <a href="/"><img src="/view/res/icon.png"  class="signInLogoSize"></a>
         <md-content layout-padding="" style="background: transparent;margin-top: 0% ">
            <form name="userForm" method="post" action="/registration/statistic">
               <div  style=" margin:0%";  ng-repeat="fields in createArray" layout-gt-sm="row">
                  <md-input-container   class="md-block lightInput" flex-gt-sm="">
                     <label style="text-align: left">{{fields.place}}</label>
                     <input style="margin-bottom: 2%"  md-maxlength="{{fields.max}}" type="{{fields.type}}" required minlength="{{fields.min}}" name="{{fields.name}}"  ng-model="user.name">
                     <div style="margin-left:2%" class="hint">{{fields.text}}</div>
                     <div  ng-messages="userForm.email.$error"   role="alert">
                        <div style="float:left; margin-bottom:3%" ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                           {{fields.rederror}}
                        </div>
                     </div>
                  </md-input-container>
               </div>
               <button  style="margin-top:0%;"type="submit" class ="signInButtonSize blueButton ">Create an account</button>
            </form>
         </md-content>
      </div>
      </div>
   </body>
</html>