<!DOCTYPE html>
<html >
   <head>
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/view/css/style.css">
      <link rel="stylesheet" href="/libs/md/css/angular-material.css">
      <link rel="stylesheet" href="/libs/md/css/docs.css">
      <link rel="stylesheet" href="/libs/md/css/noname.css">
      <link rel="stylesheet" href="/libs/ng-table.css">
      <link rel="shortcut icon" href="/view/res/icon.png" type="image/png">
      <script src="/libs/angular.min.js"></script>
      <script src="/libs/ng-table.js"></script>
      <script src = "/libs/angular-route.min.js"></script>
      <script src="/libs/Chart.js"></script>
      <script src="/libs//md/js/angular.js"></script>
      <script src="/libs/md/js/angular-animate.min.js"></script>
      <script src="/libs/md/js/angular-route.min.js"></script>
      <script src="/libs/md/js/angular-aria.min.js"></script>
      <script src="/libs/md/js/angular-messages.min.js"></script>
      <script src="/libs/md/js/svg-assets-cache.js"></script>
      <script src="/libs/md/js/angular-material.js"></script>
      <script src="/libs/jquery.min.js"></script>
      <script src="/app/app.js"></script>
      <script src="/controller/controller.js"></script>
      <title>Statistics</title>
   </head>
   <body  class="webSiteBackground" ng-app="app" ng-controller="loginedCtl">
      <div >
         
         <div ng-include="'/view/src/htm/menubar.htm'"></div>

         <div ng-include="'/view/src/htm/editwindow.htm'"></div>
         
         <div class="styledBg graphSize">
            <canvas data-ng-init="showGraph()"  id='iGraph' > Boooo! </canvas>
         </div>


         <div class="styledBg filterDiv">
             <md-datepicker class="filtreDates" ng-model="minDate" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
             <md-datepicker class="filtreDates" ng-model="maxDate" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
        </div>
            
         <div class="styledBg tableDiv">  
         
        <table ng-table="tableParams" template-pagination="custom/pager" class="table myTable">
            <tr ng-repeat="user in $data" ng-click="editWindow(user)">
                <td data-title="'Market'" >
                    {{user.market}}
                </td>
                <td data-title="'Date'">
                    {{user.date}}
                </td>
                <td data-title="'Time'">
                    {{user.time}}
                </td>
               <td data-title="'Price'">
                    {{user.price}}
                </td>
                <td data-title="'Item'">
                    {{user.item}}
                </td>
            </tr>
        </table>

        <script type="text/ng-template" id="custom/pager">
            <ul class="pager ng-cloak" style="height: 15px;">
            <md-button style="margin:auto; width: 100%;font-size: 10px; padding: 0;" class="md-raised"  ng-click="params.count(more())"></md-button>
            </ul>
        </script>

         </div>           
            
   </body>
</html>
