body{
	margin:0;
	padding:0;
}

/*web site background*/
.webSiteBackground {
	background-color:black; 
	background: linear-gradient(45deg,#cccccc,#ccccc1);
}


/* Styled gray button*/
.grayButton {
	 margin-left:10px;
         color: #4d4d4d;
         background: #e6e6e6;
	 border-style: solid;
    	 border-width: 1px; 
    	 border-color: #666666; 
	 background: linear-gradient(to top, #e6e6e6, #bfbfbf);
 } 
.grayButton:hover { 
	background: #cccccc; 
	background: linear-gradient(to top, #cccccc, #bfbfbf);
}
.grayButton:active {
	background: #b3b3b3;
	background: linear-gradient(to top, #b3b3b3,#bfbfbf);
}

/*Blue styled button*/
.blueButton {
         color: white;
         background: #0094F7;
	 border-style: solid;
    	 border-width: 1px; 
    	 border-color: #005c99; 
	 background: linear-gradient(to top, #0094F7, #007acc);
 } 
.blueButton:hover { 
	background: #0076C4;
	background: linear-gradient(to top, #0076C4, #007acc);
 }
.blueButton:active {
         background: #0064A6;
	 background: linear-gradient(to top, #0064A6, #007acc);
}
/*sign in button size*/

.signInButtonSize {
	margin-top: 5%;
	margin-left: 10%;
	height: 2.1em;
	width: 80%;
	border-radius: 0.3em;
	font-size: 1.15em;
	font-weight: bold;
}

/*Menu bar buttons sizes*/
.menuBarButtonSize{
	 float: left;
	 width:4.8em;
	 height: 0.9em;
         border-radius: 5px;
	 text-align: center; 
	 font-weight: bold;
         text-decoration: none;
         padding: .5em 1em calc(.5em + .5em);
}

/*Menu bar  button align*/
#menuBarButtonAlign{
	float: right;
	margin-top: 0.7% ; 
	margin-right:7%;
}


/* Menu Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E8E8E8;
    border-style: solid;
    border-width: 1px; 
    border-color: #B2B0B0; 
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: #737373;
    text-align: center;
    padding: 21px 16px;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
}

li a:hover {  color: #4d94ff;}

/*styled input*/
.lightInput {
	 border-style: solid;
         border-width: 1px; 
         border-color: #B2B0B0; 
         padding: 10px; 10px;
         border-radius: 5px;
}
.lightInput:focus{
    	-moz-box-shadow: 0 0 10px 3px rgba(77,77,255,.55);
    	-webkit-box-shadow: 0 0 10px 3px rgba(77,77,255,.55);
	box-shadow: 0 0 10px 3px rgba(77,77,255,.55);
	overflow: hidden; 	
}

/*sign in input align*/
.signInInputs {
         margin-left:9.5%;                          
         margin-top:5%;                          
         width: 75%; 
}
/*sign in background*/
#loginBg{
	background-color:#E8E8E8;
	background: linear-gradient(to top, #e8e8e8, #bfbfbf);
	-moz-box-shadow: 0 0 10px 3px rgba(128,128,128,.55);
    	-webkit-box-shadow: 0 0 10px 3px rgba(128,128,128,.55);
	box-shadow: 0 0 10px 3px rgba(128,128,128,.55);
	color:black;
	width:25em;
        height:30em;
	margin:auto;
	margin-top: 4%;
	border-radius: 10px;
}

/*sign in top background*/
#loginTopBg{
	background-color:#B2B0B0;
	height: 3%;
	width: 100%;
	border-radius: 3px;
}

/*home page big logo background*/
#bigLogoBg {
	margin-top: 0;
	background-color: black;
	height: 450px;
}

/*home page big logo image*/
#bigLogoImg {
	position:relative;
	height: 20em;
	margin-top: -25em;
	float: right;
}

/*home page big logo background image*/
#bigLogoBgImg {
	opacity: 0.25;	
	width: 100%;
	height: 100%;
}

/*sign in page logo*/
#logo{
	margin-left:35%;
	width:30%;
	margin-top:5%;
}

/*menu bar small logo*/
#smallogo{
	float:left;
        width:50px;
	margin-left:1%;
	margin-top:0.4%;
}

/*forgot password style*/
#forgot {
	float: right;
	margin-right:10%; 
	color:#5FA5FF;
	text-decoration: none; 
	margin-top: 2%;
	align: right;
	font-size: 0.85em;
}

/*checkbox style*/
#checkbox{
	float: left;
	margin-left:9.5%; 
        font-weight: bold;
	margin-top:3%;
	color: gray;
	font-size: 0.9em;
}

/* create an account */
#signuplink{
	color:#5FA5FF;
	text-decoration: none; 
	margin-top: 1%;
}




/*______________________ANI_______________________*/

/* registration page*/
.regDivstyle{
	
	margin: 1% auto;
        text-align:left;
        height:50%;
        width:50%; 
        padding:8%;   
}

.textUnderRegInput{
	font-size: 85%
}

.regInputField {
	padding: 2%;
	margin-top: 3%;
        width:95%; 
	font-size: 70%
}
/* end of registration page*/

.regButtonSize {
		font-size: 70%;
		width: 40%;
		margin: auto 20%; 
		padding: 1.5%;
 } 
H2{

 color:#737373;
}

/* usage page  */
.usageUl{

        background-color:black;
        background: linear-gradient(45deg,#cccccc,#ccccc1);
        border-width: 0px;
        margin: 8% 20%;
}
/* each step div*/
.usageSteps{
        width:20%;
        border-radius: 5px;
        height: 25%;
        padding: 4%;
        font-size: 120%;
        text-align:center;
}
.usageSteps:hover{
   Display:block;

}

/* image style+size  for steps*/
.imageStep{
	
        width:56%;
        margin-top: 0px;
	margin-left: 15%;
}


.usageText{
	text-align:center;
        width: 84%;
        margin-bottom:0px;
}
/*end of usage page*/


/*____________________________GEVOR__________________________*/


.profileDivSize{
	width:500px; 
	height: 430px; 
	margin:5% auto;
	outline:1px solid blue;"
	-moz-box-shadow: 0 0 10px 3px rgba(77,77,255,.55);
    	-webkit-box-shadow: 0 0 10px 3px rgba(77,77,255,.55);
	box-shadow: 0 0 10px 3px rgba(77,77,255,.55);
	overflow: hidden; 	

}

.profileInputs {
	float: right;
	width: 65%;
	
}

.profileInputSize {
	float: right;
	margin-top: 3%;
	margin-right: 3%;
	width:90%; 
}
.profileDateSize {
	float: left;
	margin-top: 3%;
	margin-right: 3%;
	width:20%; 
}

.profileLabels {
	text-align: right;
	float: right;
	margin-right:3%; 
	height: 100%;
	margin-top: -2%;
}

.profileButtonSize {
	margin-top: 7%;
	margin-left: 20%;
	width: 50%;
	height: 3em;


}

.profileLabelsTop {
	margin-top: 21%;
}
