<!DOCTYPE html>
<html>
  <head>
      <style> 
	form >div{
		color:red;
		font-size: 12px;
		float:left;	
		margin-left:10%;
		margin-bottom: 0%;	
	}
	input.ng-invalid.ng-touched, 	input.ng-error.ng-touched, 	input.ng-required.ng-touched{
	    border-color: red;
	}
	 </style>
      <title>Sign In HDM</title>
      <link rel="stylesheet" href="../css/style.css">
      <link rel="stylesheet" href="./node_modules/ngprogress/ngProgress.css">
      <script src="../libs/angular.js"></script>
      <script src="./node_modules/ngprogress/build/ngProgress.js" ></script>
      <script src="../angularJs/app.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>	
      <script src="../angularJs/controller.js"></script>
   </head>
   <body ng-app="app" class="webSiteBackground">
      <div class="wrapper">
         <div  ng-view align="center" class="content"></div>   
      </div>

  
   </body>
</html>
